<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>8ovgzbatre@tznvy.pbz</string>
	<key>contactName</key>
	<string>8bitmonger</string>
	<key>description</key>
	<string>Bundle for 64tass, Commodore 64 assembly command line compiler.
You can download binary of 64tass at http://tass64.sourceforge.net/

Based on an earlier work by Uğur Özyılmazel (https://github.com/vigo).
</string>
	<key>name</key>
	<string>64tass Bundle</string>
	<key>uuid</key>
	<string>45776F8E-6555-48C3-A022-72CA543434F9</string>
</dict>
</plist>
